.light {
  --bi-sys-color-primary: hsl(24.297520661157023 100% 40%);
  --bi-sys-color-on-primary: #fff;
  --bi-sys-color-primary-container: hsl(24.297520661157023 100% 90%);
  --bi-sys-color-on-primary-container: hsl(24.297520661157023 100% 10%);
  --bi-sys-color-secondary: hsl(24.297520661157023 40% 40%);
  --bi-sys-color-on-secondary: #fff;
  --bi-sys-color-secondary-container: hsl(24.297520661157023 40% 90%);
  --bi-sys-color-on-secondary-container: hsl(24.297520661157023 40% 10%);
  --bi-sys-color-tertiary: hsl(84.29752066115702 60% 40%);
  --bi-sys-color-on-tertiary: #fff;
  --bi-sys-color-tertiary-container: hsl(84.29752066115702 60% 90%);
  --bi-sys-color-on-tertiary-container: hsl(84.29752066115702 60% 10%);
  --bi-sys-color-error: hsl(25 84% 40%);
  --bi-sys-color-on-error: undefined;
  --bi-sys-color-error-container: hsl(25 84% 90%);
  --bi-sys-color-on-error-container: hsl(25 84% 10%);
  --bi-sys-color-background: hsl(24.297520661157023 8% 99%);
  --bi-sys-color-on-background: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-surface: undefined;
  --bi-sys-color-on-surface: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-surface-variant: hsl(24.297520661157023 16% 90%);
  --bi-sys-color-on-surface-variant: hsl(24.297520661157023 16% 30%);
  --bi-sys-color-outline: hsl(24.297520661157023 16% 50%);
  --bi-sys-color-outline-variant: hsl(24.297520661157023 16% 80%);
  --bi-sys-color-inverse-surface: hsl(24.297520661157023 8% 20%);
  --bi-sys-color-inverse-on-surface: hsl(24.297520661157023 8% 95%);
  --bi-sys-color-inverse-primary: hsl(24.297520661157023 100% 80%);
  --bi-sys-color-surface-dim: undefined;
  --bi-sys-color-surface-bright: undefined;
  --bi-sys-color-surface-container-lowest: undefined;
  --bi-sys-color-surface-container-low: undefined;
  --bi-sys-color-surface-container: undefined;
  --bi-sys-color-surface-container-high: undefined;
  --bi-sys-color-surface-container-highest: hsl(24.297520661157023 8% 90%);
}

.dark {
  --bi-sys-color-primary: hsl(24.297520661157023 100% 80%);
  --bi-sys-color-on-primary: hsl(24.297520661157023 100% 20%);
  --bi-sys-color-primary-container: hsl(24.297520661157023 100% 30%);
  --bi-sys-color-on-primary-container: hsl(24.297520661157023 100% 90%);
  --bi-sys-color-secondary: hsl(24.297520661157023 40% 80%);
  --bi-sys-color-on-secondary: hsl(24.297520661157023 40% 20%);
  --bi-sys-color-secondary-container: hsl(24.297520661157023 40% 30%);
  --bi-sys-color-on-secondary-container: hsl(24.297520661157023 40% 90%);
  --bi-sys-color-tertiary: hsl(84.29752066115702 60% 80%);
  --bi-sys-color-on-tertiary: hsl(84.29752066115702 60% 20%);
  --bi-sys-color-tertiary-container: hsl(84.29752066115702 60% 30%);
  --bi-sys-color-on-tertiary-container: hsl(84.29752066115702 60% 90%);
  --bi-sys-color-error: hsl(25 84% 80%);
  --bi-sys-color-on-error: hsl(25 84% 20%);
  --bi-sys-color-error-container: hsl(25 84% 30%);
  --bi-sys-color-on-error-container: hsl(25 84% 90%);
  --bi-sys-color-background: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-on-background: hsl(24.297520661157023 8% 90%);
  --bi-sys-color-surface: hsl(24.297520661157023 8% 20%);
  --bi-sys-color-on-surface: hsl(24.297520661157023 8% 90%);
  --bi-sys-color-surface-variant: hsl(24.297520661157023 16% 30%);
  --bi-sys-color-on-surface-variant: hsl(24.297520661157023 16% 80%);
  --bi-sys-color-outline: hsl(24.297520661157023 16% 60%);
  --bi-sys-color-outline-variant: hsl(24.297520661157023 16% 30%);
  --bi-sys-color-inverse-surface: hsl(24.297520661157023 8% 90%);
  --bi-sys-color-inverse-on-surface: hsl(24.297520661157023 8% 20%);
  --bi-sys-color-inverse-primary: hsl(24.297520661157023 100% 40%);
  --bi-sys-color-surface-dim: undefined;
  --bi-sys-color-surface-bright: undefined;
  --bi-sys-color-surface-container-lowest: undefined;
  --bi-sys-color-surface-container-low: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-surface-container: undefined;
  --bi-sys-color-surface-container-high: undefined;
  --bi-sys-color-surface-container-highest: undefined;
}

.light-medium-contrast {
  --bi-sys-color-primary: hsl(24.297520661157023 100% 40%);
  --bi-sys-color-on-primary: #fff;
  --bi-sys-color-primary-container: hsl(24.297520661157023 100% 95%);
  --bi-sys-color-on-primary-container: undefined;
  --bi-sys-color-secondary: hsl(24.297520661157023 40% 40%);
  --bi-sys-color-on-secondary: #fff;
  --bi-sys-color-secondary-container: hsl(24.297520661157023 40% 95%);
  --bi-sys-color-on-secondary-container: undefined;
  --bi-sys-color-tertiary: hsl(84.29752066115702 60% 40%);
  --bi-sys-color-on-tertiary: #fff;
  --bi-sys-color-tertiary-container: hsl(84.29752066115702 60% 95%);
  --bi-sys-color-on-tertiary-container: undefined;
  --bi-sys-color-error: hsl(25 84% 40%);
  --bi-sys-color-on-error: undefined;
  --bi-sys-color-error-container: hsl(25 84% 95%);
  --bi-sys-color-on-error-container: undefined;
  --bi-sys-color-background: hsl(24.297520661157023 8% 99%);
  --bi-sys-color-on-background: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-surface: undefined;
  --bi-sys-color-on-surface: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-surface-variant: hsl(24.297520661157023 16% 90%);
  --bi-sys-color-on-surface-variant: hsl(24.297520661157023 16% 30%);
  --bi-sys-color-outline: hsl(24.297520661157023 16% 50%);
  --bi-sys-color-outline-variant: hsl(24.297520661157023 16% 80%);
  --bi-sys-color-inverse-surface: hsl(24.297520661157023 8% 20%);
  --bi-sys-color-inverse-on-surface: hsl(24.297520661157023 8% 95%);
  --bi-sys-color-inverse-primary: hsl(24.297520661157023 100% 80%);
  --bi-sys-color-surface-dim: undefined;
  --bi-sys-color-surface-bright: undefined;
  --bi-sys-color-surface-container-lowest: undefined;
  --bi-sys-color-surface-container-low: undefined;
  --bi-sys-color-surface-container: undefined;
  --bi-sys-color-surface-container-high: undefined;
  --bi-sys-color-surface-container-highest: hsl(24.297520661157023 8% 90%);
}

.dark-medium-contrast {
  --bi-sys-color-primary: hsl(24.297520661157023 100% 80%);
  --bi-sys-color-on-primary: hsl(24.297520661157023 100% 20%);
  --bi-sys-color-primary-container: undefined;
  --bi-sys-color-on-primary-container: undefined;
  --bi-sys-color-secondary: hsl(24.297520661157023 40% 80%);
  --bi-sys-color-on-secondary: hsl(24.297520661157023 40% 20%);
  --bi-sys-color-secondary-container: undefined;
  --bi-sys-color-on-secondary-container: undefined;
  --bi-sys-color-tertiary: hsl(84.29752066115702 60% 80%);
  --bi-sys-color-on-tertiary: hsl(84.29752066115702 60% 20%);
  --bi-sys-color-tertiary-container: undefined;
  --bi-sys-color-on-tertiary-container: undefined;
  --bi-sys-color-error: hsl(25 84% 80%);
  --bi-sys-color-on-error: hsl(25 84% 20%);
  --bi-sys-color-error-container: undefined;
  --bi-sys-color-on-error-container: undefined;
  --bi-sys-color-background: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-on-background: hsl(24.297520661157023 8% 90%);
  --bi-sys-color-surface: hsl(24.297520661157023 8% 20%);
  --bi-sys-color-on-surface: hsl(24.297520661157023 8% 90%);
  --bi-sys-color-surface-variant: hsl(24.297520661157023 16% 30%);
  --bi-sys-color-on-surface-variant: hsl(24.297520661157023 16% 80%);
  --bi-sys-color-outline: hsl(24.297520661157023 16% 60%);
  --bi-sys-color-outline-variant: hsl(24.297520661157023 16% 30%);
  --bi-sys-color-inverse-surface: hsl(24.297520661157023 8% 90%);
  --bi-sys-color-inverse-on-surface: hsl(24.297520661157023 8% 20%);
  --bi-sys-color-inverse-primary: hsl(24.297520661157023 100% 40%);
  --bi-sys-color-surface-dim: undefined;
  --bi-sys-color-surface-bright: undefined;
  --bi-sys-color-surface-container-lowest: undefined;
  --bi-sys-color-surface-container-low: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-surface-container: undefined;
  --bi-sys-color-surface-container-high: undefined;
  --bi-sys-color-surface-container-highest: undefined;
}

.light-high-contrast {
  --bi-sys-color-primary: hsl(24.297520661157023 100% 40%);
  --bi-sys-color-on-primary: #fff;
  --bi-sys-color-primary-container: undefined;
  --bi-sys-color-on-primary-container: hsl(24.297520661157023 100% 20%);
  --bi-sys-color-secondary: hsl(24.297520661157023 40% 40%);
  --bi-sys-color-on-secondary: #fff;
  --bi-sys-color-secondary-container: undefined;
  --bi-sys-color-on-secondary-container: hsl(24.297520661157023 40% 20%);
  --bi-sys-color-tertiary: hsl(84.29752066115702 60% 40%);
  --bi-sys-color-on-tertiary: #fff;
  --bi-sys-color-tertiary-container: undefined;
  --bi-sys-color-on-tertiary-container: hsl(84.29752066115702 60% 20%);
  --bi-sys-color-error: hsl(25 84% 40%);
  --bi-sys-color-on-error: undefined;
  --bi-sys-color-error-container: undefined;
  --bi-sys-color-on-error-container: hsl(25 84% 20%);
  --bi-sys-color-background: hsl(24.297520661157023 8% 99%);
  --bi-sys-color-on-background: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-surface: undefined;
  --bi-sys-color-on-surface: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-surface-variant: hsl(24.297520661157023 16% 90%);
  --bi-sys-color-on-surface-variant: hsl(24.297520661157023 16% 30%);
  --bi-sys-color-outline: hsl(24.297520661157023 16% 50%);
  --bi-sys-color-outline-variant: hsl(24.297520661157023 16% 80%);
  --bi-sys-color-inverse-surface: hsl(24.297520661157023 8% 20%);
  --bi-sys-color-inverse-on-surface: hsl(24.297520661157023 8% 95%);
  --bi-sys-color-inverse-primary: hsl(24.297520661157023 100% 80%);
  --bi-sys-color-surface-dim: undefined;
  --bi-sys-color-surface-bright: undefined;
  --bi-sys-color-surface-container-lowest: undefined;
  --bi-sys-color-surface-container-low: undefined;
  --bi-sys-color-surface-container: undefined;
  --bi-sys-color-surface-container-high: undefined;
  --bi-sys-color-surface-container-highest: hsl(24.297520661157023 8% 90%);
}

.dark-high-contrast {
  --bi-sys-color-primary: hsl(24.297520661157023 100% 80%);
  --bi-sys-color-on-primary: hsl(24.297520661157023 100% 20%);
  --bi-sys-color-primary-container: hsl(24.297520661157023 100% 20%);
  --bi-sys-color-on-primary-container: hsl(24.297520661157023 100% 80%);
  --bi-sys-color-secondary: hsl(24.297520661157023 40% 80%);
  --bi-sys-color-on-secondary: hsl(24.297520661157023 40% 20%);
  --bi-sys-color-secondary-container: hsl(24.297520661157023 40% 20%);
  --bi-sys-color-on-secondary-container: hsl(24.297520661157023 40% 80%);
  --bi-sys-color-tertiary: hsl(84.29752066115702 60% 80%);
  --bi-sys-color-on-tertiary: hsl(84.29752066115702 60% 20%);
  --bi-sys-color-tertiary-container: hsl(84.29752066115702 60% 20%);
  --bi-sys-color-on-tertiary-container: hsl(84.29752066115702 60% 80%);
  --bi-sys-color-error: hsl(25 84% 80%);
  --bi-sys-color-on-error: hsl(25 84% 20%);
  --bi-sys-color-error-container: hsl(25 84% 20%);
  --bi-sys-color-on-error-container: hsl(25 84% 80%);
  --bi-sys-color-background: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-on-background: hsl(24.297520661157023 8% 90%);
  --bi-sys-color-surface: hsl(24.297520661157023 8% 20%);
  --bi-sys-color-on-surface: hsl(24.297520661157023 8% 90%);
  --bi-sys-color-surface-variant: hsl(24.297520661157023 16% 30%);
  --bi-sys-color-on-surface-variant: hsl(24.297520661157023 16% 80%);
  --bi-sys-color-outline: hsl(24.297520661157023 16% 60%);
  --bi-sys-color-outline-variant: hsl(24.297520661157023 16% 30%);
  --bi-sys-color-inverse-surface: hsl(24.297520661157023 8% 90%);
  --bi-sys-color-inverse-on-surface: hsl(24.297520661157023 8% 20%);
  --bi-sys-color-inverse-primary: hsl(24.297520661157023 100% 40%);
  --bi-sys-color-surface-dim: undefined;
  --bi-sys-color-surface-bright: undefined;
  --bi-sys-color-surface-container-lowest: undefined;
  --bi-sys-color-surface-container-low: hsl(24.297520661157023 8% 10%);
  --bi-sys-color-surface-container: undefined;
  --bi-sys-color-surface-container-high: undefined;
  --bi-sys-color-surface-container-highest: undefined;
}