.light {
  --bi-sys-color-primary: hsl(24.117647058823525 100% 40%);
  --bi-sys-color-on-primary: hsl(24.117647058823525 100% 100%);
  --bi-sys-color-primary-container: hsl(24.117647058823525 100% 90%);
  --bi-sys-color-on-primary-container: hsl(24.117647058823525 100% 10%);
  --bi-sys-color-secondary: hsl(24.117647058823525 40% 40%);
  --bi-sys-color-on-secondary: hsl(24.117647058823525 40% 100%);
  --bi-sys-color-secondary-container: hsl(24.117647058823525 40% 90%);
  --bi-sys-color-on-secondary-container: hsl(24.117647058823525 40% 10%);
  --bi-sys-color-tertiary: hsl(84.11764705882352 60% 40%);
  --bi-sys-color-on-tertiary: hsl(84.11764705882352 60% 100%);
  --bi-sys-color-tertiary-container: hsl(84.11764705882352 60% 90%);
  --bi-sys-color-on-tertiary-container: hsl(84.11764705882352 60% 10%);
  --bi-sys-color-error: hsl(25 65% 40%);
  --bi-sys-color-on-error: hsl(25 65% 100%);
  --bi-sys-color-error-container: hsl(25 65% 90%);
  --bi-sys-color-on-error-container: hsl(25 65% 10%);
  --bi-sys-color-background: hsl(24.117647058823525 8% 99%);
  --bi-sys-color-on-background: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-surface: hsl(24.117647058823525 8% 98%);
  --bi-sys-color-on-surface: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-surface-variant: hsl(24.117647058823525 16% 90%);
  --bi-sys-color-on-surface-variant: hsl(24.117647058823525 16% 30%);
  --bi-sys-color-outline: hsl(24.117647058823525 16% 50%);
  --bi-sys-color-outline-variant: hsl(24.117647058823525 16% 80%);
  --bi-sys-color-inverse-surface: hsl(24.117647058823525 8% 20%);
  --bi-sys-color-inverse-on-surface: hsl(24.117647058823525 8% 95%);
  --bi-sys-color-inverse-primary: hsl(24.117647058823525 100% 80%);
  --bi-sys-color-surface-dim: hsl(24.117647058823525 8% 87%);
  --bi-sys-color-surface-bright: hsl(24.117647058823525 8% 98%);
  --bi-sys-color-surface-container-lowest: hsl(24.117647058823525 8% 100%);
  --bi-sys-color-surface-container-low: hsl(24.117647058823525 8% 96%);
  --bi-sys-color-surface-container: hsl(24.117647058823525 8% 94%);
  --bi-sys-color-surface-container-high: hsl(24.117647058823525 8% 92%);
  --bi-sys-color-surface-container-highest: hsl(24.117647058823525 8% 90%);
}

.dark {
  --bi-sys-color-primary: hsl(24.117647058823525 100% 80%);
  --bi-sys-color-on-primary: hsl(24.117647058823525 100% 20%);
  --bi-sys-color-primary-container: hsl(24.117647058823525 100% 30%);
  --bi-sys-color-on-primary-container: hsl(24.117647058823525 100% 90%);
  --bi-sys-color-secondary: hsl(24.117647058823525 40% 80%);
  --bi-sys-color-on-secondary: hsl(24.117647058823525 40% 20%);
  --bi-sys-color-secondary-container: hsl(24.117647058823525 40% 30%);
  --bi-sys-color-on-secondary-container: hsl(24.117647058823525 40% 90%);
  --bi-sys-color-tertiary: hsl(84.11764705882352 60% 80%);
  --bi-sys-color-on-tertiary: hsl(84.11764705882352 60% 20%);
  --bi-sys-color-tertiary-container: hsl(84.11764705882352 60% 30%);
  --bi-sys-color-on-tertiary-container: hsl(84.11764705882352 60% 90%);
  --bi-sys-color-error: hsl(25 65% 80%);
  --bi-sys-color-on-error: hsl(25 65% 20%);
  --bi-sys-color-error-container: hsl(25 65% 30%);
  --bi-sys-color-on-error-container: hsl(25 65% 90%);
  --bi-sys-color-background: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-on-background: hsl(24.117647058823525 8% 90%);
  --bi-sys-color-surface: hsl(24.117647058823525 8% 20%);
  --bi-sys-color-on-surface: hsl(24.117647058823525 8% 90%);
  --bi-sys-color-surface-variant: hsl(24.117647058823525 16% 30%);
  --bi-sys-color-on-surface-variant: hsl(24.117647058823525 16% 80%);
  --bi-sys-color-outline: hsl(24.117647058823525 16% 60%);
  --bi-sys-color-outline-variant: hsl(24.117647058823525 16% 30%);
  --bi-sys-color-inverse-surface: hsl(24.117647058823525 8% 90%);
  --bi-sys-color-inverse-on-surface: hsl(24.117647058823525 8% 20%);
  --bi-sys-color-inverse-primary: hsl(24.117647058823525 100% 40%);
  --bi-sys-color-surface-dim: hsl(24.117647058823525 8% 6%);
  --bi-sys-color-surface-bright: hsl(24.117647058823525 8% 24%);
  --bi-sys-color-surface-container-lowest: hsl(24.117647058823525 8% 4%);
  --bi-sys-color-surface-container-low: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-surface-container: hsl(24.117647058823525 8% 12%);
  --bi-sys-color-surface-container-high: hsl(24.117647058823525 8% 17%);
  --bi-sys-color-surface-container-highest: hsl(24.117647058823525 8% 22%);
}

.light-medium-contrast {
  --bi-sys-color-primary: hsl(24.117647058823525 100% 40%);
  --bi-sys-color-on-primary: hsl(24.117647058823525 100% 100%);
  --bi-sys-color-primary-container: hsl(24.117647058823525 100% 95%);
  --bi-sys-color-on-primary-container: hsl(24.117647058823525 100% 15%);
  --bi-sys-color-secondary: hsl(24.117647058823525 40% 40%);
  --bi-sys-color-on-secondary: hsl(24.117647058823525 40% 100%);
  --bi-sys-color-secondary-container: hsl(24.117647058823525 40% 95%);
  --bi-sys-color-on-secondary-container: hsl(24.117647058823525 40% 15%);
  --bi-sys-color-tertiary: hsl(84.11764705882352 60% 40%);
  --bi-sys-color-on-tertiary: hsl(84.11764705882352 60% 100%);
  --bi-sys-color-tertiary-container: hsl(84.11764705882352 60% 95%);
  --bi-sys-color-on-tertiary-container: hsl(84.11764705882352 60% 15%);
  --bi-sys-color-error: hsl(25 65% 40%);
  --bi-sys-color-on-error: hsl(25 65% 100%);
  --bi-sys-color-error-container: hsl(25 65% 95%);
  --bi-sys-color-on-error-container: hsl(25 65% 15%);
  --bi-sys-color-background: hsl(24.117647058823525 8% 99%);
  --bi-sys-color-on-background: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-surface: hsl(24.117647058823525 8% 98%);
  --bi-sys-color-on-surface: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-surface-variant: hsl(24.117647058823525 16% 90%);
  --bi-sys-color-on-surface-variant: hsl(24.117647058823525 16% 30%);
  --bi-sys-color-outline: hsl(24.117647058823525 16% 50%);
  --bi-sys-color-outline-variant: hsl(24.117647058823525 16% 80%);
  --bi-sys-color-inverse-surface: hsl(24.117647058823525 8% 20%);
  --bi-sys-color-inverse-on-surface: hsl(24.117647058823525 8% 95%);
  --bi-sys-color-inverse-primary: hsl(24.117647058823525 100% 80%);
  --bi-sys-color-surface-dim: hsl(24.117647058823525 8% 87%);
  --bi-sys-color-surface-bright: hsl(24.117647058823525 8% 98%);
  --bi-sys-color-surface-container-lowest: hsl(24.117647058823525 8% 100%);
  --bi-sys-color-surface-container-low: hsl(24.117647058823525 8% 96%);
  --bi-sys-color-surface-container: hsl(24.117647058823525 8% 94%);
  --bi-sys-color-surface-container-high: hsl(24.117647058823525 8% 92%);
  --bi-sys-color-surface-container-highest: hsl(24.117647058823525 8% 90%);
}

.dark-medium-contrast {
  --bi-sys-color-primary: hsl(24.117647058823525 100% 80%);
  --bi-sys-color-on-primary: hsl(24.117647058823525 100% 20%);
  --bi-sys-color-primary-container: hsl(24.117647058823525 100% 25%);
  --bi-sys-color-on-primary-container: hsl(24.117647058823525 100% 85%);
  --bi-sys-color-secondary: hsl(24.117647058823525 40% 80%);
  --bi-sys-color-on-secondary: hsl(24.117647058823525 40% 20%);
  --bi-sys-color-secondary-container: hsl(24.117647058823525 40% 25%);
  --bi-sys-color-on-secondary-container: hsl(24.117647058823525 40% 85%);
  --bi-sys-color-tertiary: hsl(84.11764705882352 60% 80%);
  --bi-sys-color-on-tertiary: hsl(84.11764705882352 60% 20%);
  --bi-sys-color-tertiary-container: hsl(84.11764705882352 60% 25%);
  --bi-sys-color-on-tertiary-container: hsl(84.11764705882352 60% 85%);
  --bi-sys-color-error: hsl(25 65% 80%);
  --bi-sys-color-on-error: hsl(25 65% 20%);
  --bi-sys-color-error-container: hsl(25 65% 25%);
  --bi-sys-color-on-error-container: hsl(25 65% 85%);
  --bi-sys-color-background: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-on-background: hsl(24.117647058823525 8% 90%);
  --bi-sys-color-surface: hsl(24.117647058823525 8% 20%);
  --bi-sys-color-on-surface: hsl(24.117647058823525 8% 90%);
  --bi-sys-color-surface-variant: hsl(24.117647058823525 16% 30%);
  --bi-sys-color-on-surface-variant: hsl(24.117647058823525 16% 80%);
  --bi-sys-color-outline: hsl(24.117647058823525 16% 60%);
  --bi-sys-color-outline-variant: hsl(24.117647058823525 16% 30%);
  --bi-sys-color-inverse-surface: hsl(24.117647058823525 8% 90%);
  --bi-sys-color-inverse-on-surface: hsl(24.117647058823525 8% 20%);
  --bi-sys-color-inverse-primary: hsl(24.117647058823525 100% 40%);
  --bi-sys-color-surface-dim: hsl(24.117647058823525 8% 6%);
  --bi-sys-color-surface-bright: hsl(24.117647058823525 8% 24%);
  --bi-sys-color-surface-container-lowest: hsl(24.117647058823525 8% 4%);
  --bi-sys-color-surface-container-low: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-surface-container: hsl(24.117647058823525 8% 12%);
  --bi-sys-color-surface-container-high: hsl(24.117647058823525 8% 17%);
  --bi-sys-color-surface-container-highest: hsl(24.117647058823525 8% 22%);
}

.light-high-contrast {
  --bi-sys-color-primary: hsl(24.117647058823525 100% 40%);
  --bi-sys-color-on-primary: hsl(24.117647058823525 100% 100%);
  --bi-sys-color-primary-container: hsl(24.117647058823525 100% 100%);
  --bi-sys-color-on-primary-container: hsl(24.117647058823525 100% 20%);
  --bi-sys-color-secondary: hsl(24.117647058823525 40% 40%);
  --bi-sys-color-on-secondary: hsl(24.117647058823525 40% 100%);
  --bi-sys-color-secondary-container: hsl(24.117647058823525 40% 100%);
  --bi-sys-color-on-secondary-container: hsl(24.117647058823525 40% 20%);
  --bi-sys-color-tertiary: hsl(84.11764705882352 60% 40%);
  --bi-sys-color-on-tertiary: hsl(84.11764705882352 60% 100%);
  --bi-sys-color-tertiary-container: hsl(84.11764705882352 60% 100%);
  --bi-sys-color-on-tertiary-container: hsl(84.11764705882352 60% 20%);
  --bi-sys-color-error: hsl(25 65% 40%);
  --bi-sys-color-on-error: hsl(25 65% 100%);
  --bi-sys-color-error-container: hsl(25 65% 100%);
  --bi-sys-color-on-error-container: hsl(25 65% 20%);
  --bi-sys-color-background: hsl(24.117647058823525 8% 99%);
  --bi-sys-color-on-background: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-surface: hsl(24.117647058823525 8% 98%);
  --bi-sys-color-on-surface: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-surface-variant: hsl(24.117647058823525 16% 90%);
  --bi-sys-color-on-surface-variant: hsl(24.117647058823525 16% 30%);
  --bi-sys-color-outline: hsl(24.117647058823525 16% 50%);
  --bi-sys-color-outline-variant: hsl(24.117647058823525 16% 80%);
  --bi-sys-color-inverse-surface: hsl(24.117647058823525 8% 20%);
  --bi-sys-color-inverse-on-surface: hsl(24.117647058823525 8% 95%);
  --bi-sys-color-inverse-primary: hsl(24.117647058823525 100% 80%);
  --bi-sys-color-surface-dim: hsl(24.117647058823525 8% 87%);
  --bi-sys-color-surface-bright: hsl(24.117647058823525 8% 98%);
  --bi-sys-color-surface-container-lowest: hsl(24.117647058823525 8% 100%);
  --bi-sys-color-surface-container-low: hsl(24.117647058823525 8% 96%);
  --bi-sys-color-surface-container: hsl(24.117647058823525 8% 94%);
  --bi-sys-color-surface-container-high: hsl(24.117647058823525 8% 92%);
  --bi-sys-color-surface-container-highest: hsl(24.117647058823525 8% 90%);
}

.dark-high-contrast {
  --bi-sys-color-primary: hsl(24.117647058823525 100% 80%);
  --bi-sys-color-on-primary: hsl(24.117647058823525 100% 20%);
  --bi-sys-color-primary-container: hsl(24.117647058823525 100% 20%);
  --bi-sys-color-on-primary-container: hsl(24.117647058823525 100% 80%);
  --bi-sys-color-secondary: hsl(24.117647058823525 40% 80%);
  --bi-sys-color-on-secondary: hsl(24.117647058823525 40% 20%);
  --bi-sys-color-secondary-container: hsl(24.117647058823525 40% 20%);
  --bi-sys-color-on-secondary-container: hsl(24.117647058823525 40% 80%);
  --bi-sys-color-tertiary: hsl(84.11764705882352 60% 80%);
  --bi-sys-color-on-tertiary: hsl(84.11764705882352 60% 20%);
  --bi-sys-color-tertiary-container: hsl(84.11764705882352 60% 20%);
  --bi-sys-color-on-tertiary-container: hsl(84.11764705882352 60% 80%);
  --bi-sys-color-error: hsl(25 65% 80%);
  --bi-sys-color-on-error: hsl(25 65% 20%);
  --bi-sys-color-error-container: hsl(25 65% 20%);
  --bi-sys-color-on-error-container: hsl(25 65% 80%);
  --bi-sys-color-background: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-on-background: hsl(24.117647058823525 8% 90%);
  --bi-sys-color-surface: hsl(24.117647058823525 8% 20%);
  --bi-sys-color-on-surface: hsl(24.117647058823525 8% 90%);
  --bi-sys-color-surface-variant: hsl(24.117647058823525 16% 30%);
  --bi-sys-color-on-surface-variant: hsl(24.117647058823525 16% 80%);
  --bi-sys-color-outline: hsl(24.117647058823525 16% 60%);
  --bi-sys-color-outline-variant: hsl(24.117647058823525 16% 30%);
  --bi-sys-color-inverse-surface: hsl(24.117647058823525 8% 90%);
  --bi-sys-color-inverse-on-surface: hsl(24.117647058823525 8% 20%);
  --bi-sys-color-inverse-primary: hsl(24.117647058823525 100% 40%);
  --bi-sys-color-surface-dim: hsl(24.117647058823525 8% 6%);
  --bi-sys-color-surface-bright: hsl(24.117647058823525 8% 24%);
  --bi-sys-color-surface-container-lowest: hsl(24.117647058823525 8% 4%);
  --bi-sys-color-surface-container-low: hsl(24.117647058823525 8% 10%);
  --bi-sys-color-surface-container: hsl(24.117647058823525 8% 12%);
  --bi-sys-color-surface-container-high: hsl(24.117647058823525 8% 17%);
  --bi-sys-color-surface-container-highest: hsl(24.117647058823525 8% 22%);
}

